<%- include('../layout/header') %>
<div class="row">
  <div class="col-lg-12 col-12">
    <div class="card card-info card-outline">
      <div class="card-header">
        <h3 class="card-title">List of Records</h3>
        <div class="card-tools">
          <a href="/admin/add"><button type="button" class="btn btn-info btn-sm ml-3 ">Add
              New</button></a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table id="<%=tableId%>" data-loadurl="<%= loadList %>" class="table table-bordered table-striped dataTable">
              <thead>
                <tr>
                  <th data-name="firstName" data-data="firstName">First Name</th>
                  <!-- <th data-name="lastName" data-data="lastName">Last Name</th> -->
                  <!-- <th data-name="phoneNo" data-data="phoneNo">Phone No</th> -->
                  <th data-name="emailID" data-data="emailID">Email Id</th>
                  <!-- <th data-name="password" data-data="password">Password</th> -->
                  <th data-name="action" class="action" data-data="action" data-sortable="false">Action</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/footer') %>
<script>
  var crudTable = null;
  jQuery(document).ready(function(e) {
    crudTable = siteServerSideDatatable('#<%= tableId %>', {});
  });
</script>